@use "../presset" as *;

.header {
  background-color: $color-gray-light;
  padding-top: 79px;
  padding-bottom: 161px;
  min-height: 700px;
}
.navbar {
  margin-bottom: 162px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 43px;
    /* margin-left: -10px; */
  }

  &__items {
    color: $color-black;
    font-weight: 400;
    font-size: 16px;
    line-height: $line-height-lg;
  }

  &__link {
    color: #000;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    display: block;
    transition: scale 0.1s;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.navbar__items:first-child .navbar__link {
  color: $color-primary;
}
.navbar__link:hover {
  color: $color-primary;
  scale: 1.1;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: $container-sm;
  gap: 34px;

  &__title {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }

  &__text {
    line-height: $line-height-lg;
    margin-bottom: 22px;
    color: $color-secondary;
  }

  &__link {
    background-color: $color-primary;
    letter-spacing: $letter-spacing;
    padding: 0.5em;
    width: 225px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-weight: 400;
  } 
}
/* .header__button {
  background-color: var(--color-primary);
  width: 225px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__link {
  color: var(--color-white);
  font-weight: 400;
} */