.header {
  background-color: $color-gray-light;
  padding-top: 79px;
  padding-bottom: 161px;
  min-height: 700px;
}
.navbar {
  margin-bottom: 162px;
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 43px;
  /* margin-left: -10px; */
}
.navbar__items:first-child .navbar__link {
  color: $color-primary;
}
.navbar__items {
  color: $color-black;
  font-weight: 400;
  font-size: 16px;
  line-height: $line-height-lg;
}
.navbar__link {
  color: #000;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  display: block;
  transition: scale 0.1s;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar__link:hover {
  color: $color-primary;
  scale: 1.1;
}